<div class="row">
  <div class="small-12 medium-6 columns">

    <h1><%= @user.username %></h1>

    <%= image_tag(@user.avatar.url(:normal)) %>
    <ul>
      <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
      <li>Email: <%= @user.email %></li>
    </ul>

    <a href="/users/edit" class="button small radius">Edit Profile</a><br>

  </div>

  <div class="small-0 medium-6 columns">

    <h2>My Recipe's:</h2>
    <a href="/recipes/new" class="button small success radius">New Recipe</a>

    <ul class="no-bullet">
      <% @recipes.each do |r| %>
      <li>
        <a href="<%= recipe_path(r) %>"><%= r.name %></a>
        <% if r.user_id == current_user.id %>
          <%= link_to('Edit', edit_recipe_path(r), class: "button tiny radius") %>
          <%= link_to('Delete', recipe_path(r), class: "button tiny alert radius", method: :delete, data: {confirm: "Are you sure?"}) %>
        <% end %>
      </li>
      <% end %>
    </ul>

  </div>
</div>
