<h1><%= @user.username %>'s Profile</h1>

<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>

<a href="/users/edit">Edit Profile</a>

<h2>My Recipe's:</h2>

<ul>
  <% @recipes.each do |r| %>
  <li><a href="<%= recipe_path(current_user.id) %>"><%= r.name %></a></li>
  <% end %>
</ul>
