<div class="row">
  <div class="small-12 medium-6 columns">

    <h1><%= @user.username %></h1>

    <%= image_tag(@user.avatar.url(:normal)) %>
    <ul>
      <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
      <li>Email: <%= @user.email %></li>
    </ul>

    <% if @user == current_user %>
      <a href="/users/edit" class="button small radius">Edit Profile</a><br>
    <% end %>

  </div>

  <div class="small-0 medium-6 columns">

    <% if @user == current_user %>
      <h2>My Recipe's:</h2>
      <a href="/recipes/new" class="button small success radius">New Recipe</a>
    <% else %>
      <h2><%= @user.username %>'s Recipes</h2>
    <% end %>

    <table>
    <% @recipes.each do |r| %>
      <tr>
        <td>
          <a href="<%= recipe_path(r) %>"><%= r.name %></a>
        </td>
        <% if r.user_id == current_user.id %>
        <td>
          <%= link_to('Edit', edit_recipe_path(r), class: "button tiny radius") %>
        </td>
        <td>
          <%= link_to('Delete', recipe_path(r), class: "button tiny alert radius", method: :delete, data: {confirm: "Are you sure?"}) %>
        </td>
        <% end %>
      </tr>
    <% end %>
    </table>

  </div>
</div>
